.results
  .navigation
    %a{ :href => "#", :class => "all-sites active" }
      Alle Seiten
    %a{ :href => "#", :class => "site", :data => { :url => @result_data[:url] } }
      = @result_data[:url]

  .live-search
    %form{ :id => "live-search" }
      %label
        Durchsuche deine Blöcke: 
      %input

  .data-blocks
    = render :partial => "blocks", :locals => { :data_blocks => @result_data[:data_blocks], :url => @result_data[:url] }

- if @update_sites
  - @update_sites.each do |site|
    :javascript
      $.ajax({
        url: "#{ update_results_url }",
        data: { update_site: "#{ site }" },
        dataType: 'script'
      });
