$(".results .navigation").append("<a href=\"#\" class='site' data-url=\"#{ @update_results_data[:url] }\">#{ @update_results_data[:url] }</div>");
$(".results .data-blocks").append("#{ j render(:partial => 'blocks', :locals => { :data_blocks => @update_results_data[:data_blocks], :url => @update_results_data[:url] }) }");
$("body").append("#{ j render(:partial => 'update_js') }");
