
/* Search result */

.results
  width: 1160px
  margin-left: -580px
  position: relative
  left: 50%

.navigation, .data-blocks
  float: left

.navigation
  width: 200px
  .site, .all-sites
    display: block
    min-height: 30px
    width: 100%
    padding: 7px
    background-color: #a0e800
    color: black
    text-decoration: none
    font-size: 13px
    &:hover
      background-color: #76a312
      color: white
  a.active
    background-color: #76a312
    color: white
    font-weight: bold

.live-search
  width: 960px
  height: 30px
  margin-left: 200px
  background-color: black
  label
    position: relative
    color: white
    font-size: 13px
    top: 4px
    left: 468px
    font-weight: bold
  input
    float: right
    margin: 4px
    margin-right: 10px
    width: 300px

.data-blocks
  width: 960px
  .block
    min-height: 320px
    background-color: smokewhite
    -moz-box-shadow: 0 0 5px 0px #76a312
    -webkit-box-shadow: 0 0 5px 0px #76a312
    box-shadow: 0 0 5px 0px #76a312

.site, .block, .all-sites
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: none

.block
  border: 1px solid #76a312
.site, .all-sites
  border-top: 1px solid azure

.block
  margin: 10px
  width: 300px
  height: 300px
  float: left
  overflow: hidden
  h1
    font-size: 18px
    font-weight: bold
  h2
    font-size: 16px
    font-weight: bold
  h3
    font-size: 14px
    font-weight: bold
  p
    font-size: 12px

